USE [kokos]
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 09.12.2025 5:24:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[IdRegion] [int] IDENTITY(1,1) NOT NULL,
	[RegionName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Regions] PRIMARY KEY CLUSTERED 
(
	[IdRegion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 09.12.2025 5:24:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 09.12.2025 5:24:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](256) NOT NULL,
	[IdRole] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WeightCategories]    Script Date: 09.12.2025 5:24:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeightCategories](
	[IdWeightCategory] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [int] NOT NULL,
 CONSTRAINT [PK_WeightCategories] PRIMARY KEY CLUSTERED 
(
	[IdWeightCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wrestlers]    Script Date: 09.12.2025 5:24:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wrestlers](
	[IdWrestler] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[IdWeightCategory] [int] NOT NULL,
	[IdRegion] [int] NOT NULL,
 CONSTRAINT [PK_Wrestlers] PRIMARY KEY CLUSTERED 
(
	[IdWrestler] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Regions] ON 

INSERT [dbo].[Regions] ([IdRegion], [RegionName]) VALUES (1, N'Архангельск')
INSERT [dbo].[Regions] ([IdRegion], [RegionName]) VALUES (2, N'Северодвинск')
INSERT [dbo].[Regions] ([IdRegion], [RegionName]) VALUES (3, N'Новодвинск')
SET IDENTITY_INSERT [dbo].[Regions] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IdRole], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([IdRole], [RoleName]) VALUES (2, N'Судья')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([IdUser], [Login], [Password], [IdRole]) VALUES (1, N'admin', N'admin', 1)
INSERT [dbo].[Users] ([IdUser], [Login], [Password], [IdRole]) VALUES (2, N'judge', N'123', 2)
INSERT [dbo].[Users] ([IdUser], [Login], [Password], [IdRole]) VALUES (3, N'1', N'1', 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[WeightCategories] ON 

INSERT [dbo].[WeightCategories] ([IdWeightCategory], [CategoryName]) VALUES (1, 31)
INSERT [dbo].[WeightCategories] ([IdWeightCategory], [CategoryName]) VALUES (2, 34)
INSERT [dbo].[WeightCategories] ([IdWeightCategory], [CategoryName]) VALUES (3, 38)
SET IDENTITY_INSERT [dbo].[WeightCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Wrestlers] ON 

INSERT [dbo].[Wrestlers] ([IdWrestler], [FullName], [BirthDate], [IdWeightCategory], [IdRegion]) VALUES (1, N'Махин Николай Юрьевич', CAST(N'2006-02-06' AS Date), 12, 1)
INSERT [dbo].[Wrestlers] ([IdWrestler], [FullName], [BirthDate], [IdWeightCategory], [IdRegion]) VALUES (2, N'Бурмистров Даниил Алексеевич', CAST(N'2006-09-22' AS Date), 12, 2)
INSERT [dbo].[Wrestlers] ([IdWrestler], [FullName], [BirthDate], [IdWeightCategory], [IdRegion]) VALUES (3, N'Иванов Иван Иванович', CAST(N'2011-01-01' AS Date), 4, 3)
SET IDENTITY_INSERT [dbo].[Wrestlers] OFF
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Roles] ([IdRole])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Wrestlers]  WITH CHECK ADD  CONSTRAINT [FK_Wrestlers_Regions] FOREIGN KEY([IdRegion])
REFERENCES [dbo].[Regions] ([IdRegion])
GO
ALTER TABLE [dbo].[Wrestlers] CHECK CONSTRAINT [FK_Wrestlers_Regions]
GO
ALTER TABLE [dbo].[Wrestlers]  WITH CHECK ADD  CONSTRAINT [FK_Wrestlers_WeightCategories] FOREIGN KEY([IdWeightCategory])
REFERENCES [dbo].[WeightCategories] ([IdWeightCategory])
GO
ALTER TABLE [dbo].[Wrestlers] CHECK CONSTRAINT [FK_Wrestlers_WeightCategories]
GO
